@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:ital,wght@0,200;0,400;0,800;0,900;1,900&display=swap");
html {
  --font: "Montserrat", sans-serif;
}
body {
  background-color: #f5f5f5;
}
main {
  max-width: 1440px;
  margin: auto;
  background-color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1086px;
  margin: auto;
  background-color: white;
}
.firstNavSec {
  display: flex;
  align-items: center;
}
.firstNavSec h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
}
.firstNavSec h1 span {
  color: #f22f04;
}
.firstNavSec ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-size: 17px;
}
.secondNavSec button {
  background-color: #f22f04;
  color: white;
  border-radius: 10px;
  border: none;
  width: 152px;
  height: 31px;
  font-size: 17px;
  padding: 5px 0px;
}
.mainCont {
  padding-top: 50px;
  padding-bottom: 35px;
  background: url(pexels-jorge-fakhouri-filho-2701570.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.article1 {
  color: white;
  background-size: cover;
  max-width: 1086px;
  margin: auto;
}
.article1 header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500px;
  font-size: 70px;
  line-height: 91.43px;
}
.article1Section p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.article1Section button {
  background-color: #f22f04;
  color: white;
  border-radius: 10px;
  border: none;
  width: 88px;
  height: 31px;
  font-size: 17px;
  padding: 5px 0px;
  margin-top: 40px;
}
.article1Footer {
  background-color: white;
  max-width: 1086px;
  margin: auto;
  border-radius: 25px;
  height: 188px;
  margin-top: 100px;
  font-family: var(--font);
}
.article1Footer h2 {
  font-size: 30px;
  line-height: 36.57px;
  text-align: center;
  padding-top: 1.5rem;
}
.article1FooterGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.7rem;
  padding: 0rem 3.5rem 2rem 3.5rem;
}
.section2 {
  font-family: var(--font);
  max-width: 980px;
  margin: auto;
}
.section2 header {
  text-align: center;
  padding-top: 35px;
  font-size: 20px;
}
.section2 header h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60.95px;
  margin-bottom: 10px;
}
.section2Article {
  display: flex;
  gap: 120px;
  align-items: center;
  margin-top: 60px;
}
.section2ArticleDiv {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
.section2 img {
  width: 362px;
  height: 238px;
}
.section3 {
  font-family: var(--font);
  max-width: 980px;
  margin: auto;
  margin-top: 60px;
}
.section3 header {
  text-align: center;
  padding-top: 35px;
  font-size: 20px;
}
.section3 header h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60.95px;
  margin-bottom: 10px;
}
.section3Article {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 60px;
}
.section3Fig {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.section3Fig1 {
  display: flex;
  gap: 24px;
  align-items: center;
}
.section3Fig .fig1 img {
  width: 191px;
  height: 272px;
}
.section3Fig .fig2 img {
  width: 260px;
  height: 365px;
}
.section3Fig .fig3 img {
  width: 332px;
  height: 194px;
}
.section3ArticleDiv {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
.section4 {
  font-family: var(--font);
  max-width: 980px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 90px;
}
.section4 header {
  text-align: center;
  padding-top: 35px;
  font-size: 32px;
}
.section4 header h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60.95px;
  margin-bottom: 10px;
}
.section4Article {
  display: flex;
  gap: 70px;
  align-items: flex-start;
  margin-top: 80px;
  position: relative;
}
.section4ArticleDiv {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin-top: 60px;
}
.section4Fig {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-end;
}
.section4Fig .fig1 img {
  width: 478px;
  height: 340px;
}
.section4Fig .fig2 img {
  width: 359px;
  height: 200px;
}
.section4Article .fig3 {
  position: absolute;
  right: 325px;
  top: 304px;
}
.section4Article .fig3 img {
  width: 154px;
  height: 154px;
}
footer {
  max-width: 1440px;
  height: 247px;
  background-color: #060608;
  color: white;
  margin: auto;
  font-family: var(--font);
}
footer header {
  font-size: 17px;
}
footer header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
}
.footerDiv {
  max-width: 1086px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 220px;
  padding-top: 50px;
}
.footerArticle {
  display: flex;
  align-items: flex-end;
  gap: 70px;
  font-size: 15px;
}
.footerArticle2 {
  display: flex;
  gap: 110px;
}
.footerArticle p a {
  text-decoration: none;
  color: white;
}
.footerArticle p a img {
  width: 59px;
  height: 50px;
}
